<h2>Welcome {{accounts[0]?.name}}</h2>
<h3>View your Account information below:</h3>
<p>Profiles</p>
<ul>
  <li *ngFor="let profile of profiles" 
  [class.selected]="profile === selectedProfile"
  >
     <h4>{{profile.name.given}}</h4>
  </li>
</ul>
<div>
  <p>Address: {{ accounts[0]?.address.street }} {{ accounts[0]?.address.city }}, {{ accounts[0]?.address.stateProvince }} {{ accounts[0]?.address.postalCode }}</p>
</div>
<button (click)="onSelectProfile()" >Show Payment Information</button>



<div *ngIf="displayProfileData">
  <p>Payments</p>
  <ul>
    <li *ngFor="let payment of payments">
      <h4>{{payment.cardNumber}}</h4>
    </li>
  </ul>
</div>


<!-- 
<button> {{ cond_vall == true ? 'Case 1' : 'Case 2' }}</button> -->

<!--
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
--

<uic-profile [profile]="selectedProfile"></uic-profile>

!-- TODO: Last 4 of card number
  Clickable payments to edit?
edit account name
delete account?
create profile?-->
